<div class="page-holder">

    <div class="home-picker picker-1-position">
        <a ui-sref="core.calculator">
            <div class="picker-border">
                <div class="picker-image">
                    <img src="../Content/angular/assets/images/calculator.png" class="home-picker-img">
                </div>
            </div>
            <div class="picker-text">
                <p>
                    <h4>Kalkulator</h4>
                    Lorem ipsum <strong>anta nana rive</strong> dolor sit amet, at mei eirmod perfecto partiendo, ea cetero mnesarchum eos. Mea omnesque prodesset
                    percipitur te. Ex munere vocibus ius.
                </p>
            </div>
        </a>
    </div>

    <div class="home-picker picker-2-position">
        <a ui-sref="core.process">
            <div class="picker-border">
                <div class="picker-image">
                    <img src="../Content/angular/assets/images/shopping.png" class="home-picker-img">
                </div>
            </div>
            <div class="picker-text">
                <p>
                    <h4>Kupovina</h4>
                    Sit utroque laoreet in, eu nec vide omnes. Id usu aperiri salutatus, habeo praesent ex per. His choro essent
                    no, pri et nisl sonet perfecto.
                </p>
            </div>
        </a>
    </div>

    <div class="home-picker picker-3-position">
        <a ui-sref="core.about">
            <div class="picker-border">
                <div class="picker-image">
                    <img src="../Content/angular/assets/images/about.png" class="home-picker-img">
                </div>
            </div>
            <div class="picker-text">
                <h4>O Nama</h4>
                <p>
                    Usu ea sale eligendi salutandi, ut vero intellegat eam, meliore hendrerit ea vis. Duo ex nemore intellegam,
                    mel saepe suscipit ei. Ne vel probo neglegentur, error aperiri interesset mei ei.
                </p>
            </div>
        </a>
    </div>

    <div class="overview-content-holder">

        <div class="overview-panel-home">

            <img src="../Content/angular/assets/images/home.jpg" class="home-img">

            <br />
        </div>
    </div>
</div>
