<div class="page-holder">

    <div class="home-picker picker-1-position">
        <a ui-sref="core.calculator">
            <div class="picker-border">
                <div class="picker-image">
                    <img src="../Content/angular/assets/images/calculator.png" class="home-picker-img">
                </div>
            </div>
            <div class="picker-text">
                <p>
                    <h4>{{cr.l10nObj.mnuCalculator}}</h4>
                    {{cr.l10nObj.homeCalc}}
                </p>
            </div>
        </a>
    </div>

    <div class="home-picker picker-2-position">
        <a ui-sref="core.process">
            <div class="picker-border">
                <div class="picker-image">
                    <img src="../Content/angular/assets/images/shopping.png" class="home-picker-img">
                </div>
            </div>
            <div class="picker-text">
                <p>
                    <h4>{{cr.l10nObj.mnuShopping}}</h4>
                    {{cr.l10nObj.homeProc}}
                </p>
            </div>
        </a>
    </div>

    <div class="home-picker picker-3-position">
        <a ui-sref="core.about">
            <div class="picker-border">
                <div class="picker-image">
                    <img src="../Content/angular/assets/images/about.png" class="home-picker-img">
                </div>
            </div>
            <div class="picker-text">
                <p>
                    <h4>{{cr.l10nObj.mnuAbout}}</h4>
                    {{cr.l10nObj.homeAbout}}
                </p>
            </div>
        </a>
    </div>

    <div class="overview-content-holder">

        <div class="overview-panel-home">

            <img src="../Content/angular/assets/images/home.jpg" class="home-img">

            <br />
        </div>
    </div>
</div>
