<div class="page-holder">
    <div class="overview-content-holder">

        <div class="overview-panel">
            <h2 class="header-center">O nama</h2><br/>

            <p>
                Lorem ipsum <strong>anta nana rive</strong> dolor sit amet, at mei eirmod perfecto partiendo, ea cetero mnesarchum eos. Mea omnesque prodesset
                percipitur te. Ex munere vocibus ius. Augue vituperatoribus qui ne. Sea te malis feugait adversarium. Sed sint
                dicunt eruditi ne. At autem civibus eam, tota commune pri id.
            </p>
            <p>
                Sit utroque laoreet in, eu nec vide omnes. Id usu aperiri salutatus, habeo praesent ex per. His choro essent
                no, pri et nisl sonet perfecto. His ea meis blandit omittantur. Pri accumsan placerat efficiantur in. Facer
                invidunt eam ei, ne vim habeo augue deserunt, vim ei eripuit lucilius. Lorem nobis eum te, veniam civibus
                mediocrem duo id. Et posse harum sed, ut utinam vivendo expetenda pri. Solum libris fastidii ex pri, qui ad
                probo signiferumque. Eu dicta habemus mel, quod eleifend sea id. Id vis libris utamur, laudem eligendi no
                vim, vix aliquam appellantur reformidans ut. Te tantas iracundia argumentum eam, sea menandri facilisis an,
                sit ea aliquam assentior.
            </p>
            <p>
                Usu ea sale eligendi salutandi, ut vero intellegat eam, meliore hendrerit ea vis. Duo ex nemore intellegam,
                mel saepe suscipit ei. Ne vel probo neglegentur, error aperiri interesset mei ei. Pro ex suas legere
                prodesset, idque nominati ne pri. Mei facilis efficiendi reformidans ea, eu modus aeque assentior vim.
            </p>
            <img src="../Content/angular/assets/images/team.jpg" width="94%" class="about-img">
            <br />
        </div>
    </div>
</div>
