<div class="page-holder">
    <div class="overview-content-holder">
    
        <div class="overview-panel">
            <h2 class="header-center">Kalkulator Osiguranja</h2>
            <hr />
            
            <expander-simple show-expander="cc.showInsurance">Osiguranje</expander-simple>
            
            <div class="overview-segment slide-up-animation-insurance" ng-show="cc.showInsurance">
                <table class="my-form-fields-table">
                    <tr>
                        <th>Mesto putovanja:</th>
                        <td><select class="form-control" ng-options="location.Id_Rizik as location.Prevod[cr.lang].Naziv_Prevod for location in cc.locations" ng-model="cc.selectedLocation"></select></td>
                        <th> &nbsp;&nbsp; Visina rizika:</th>
                        <td><select class="form-control" ng-options="insuranceAmount.Id_Rizik as insuranceAmount.Prevod[cr.lang].Naziv_Prevod for insuranceAmount in cc.insuranceAmounts" ng-model="cc.selectedInsuranceAmount"></select></td>
                    </tr>
                    <tr>
                        <th>Početak važenja:</th>
                        <td><input type="date" class="form-control" /></td>
                        <th> &nbsp;&nbsp; Kraj važenja:</th>
                        <td><input type="date" class="form-control" /></td>
                    </tr>
                    <tr>
                        <th>&nbsp;</th>
                    </tr>
                    <tr class="align-row-top">
                        <th colspan="4">Podaci o osiguranicima:</th>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <table>
                                <tr>
                                    <th>{{cc.ageGroups[0].Prevod[cr.lang].Naziv_Prevod}}</th>
                                    <td><input type="number" class="form-control small-input" min="0" /></td>
                                    <th>&nbsp; &nbsp; {{cc.ageGroups[1].Prevod[cr.lang].Naziv_Prevod}}</th>
                                    <td><input type="number" class="form-control small-input" min="0" /></td>
                                    <th>&nbsp; &nbsp; {{cc.ageGroups[2].Prevod[cr.lang].Naziv_Prevod}}</th>
                                    <td><input type="number" class="form-control small-input" min="0" /></td>
                                </tr>
                                <tr>
                                    <th colspan="3">Korisnici osiguranja ce se baviti sportom:</th>
                                    <td><input type="radio" name="os6"> Da</input>&nbsp;&nbsp; <input type="radio" name="os6" checked="true"> Ne</input>&nbsp;&nbsp;</td>
                                    <td colspan="2"><select class="form-control" ng-options="sport.Id_Rizik as sport.Prevod[cr.lang].Naziv_Prevod for sport in cc.sports" ng-model="cc.selectedSport"></select></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            
            <hr class="hr-grey" />

            <expander-advanced enable-expander="cc.enableObject" show-expander="cc.showObject">Osiguranje Objekta</expander-advanced>
            
            <div class="overview-segment slide-up-animation-object" ng-show="cc.showObject">
                <table class="my-form-fields-table">
                    <tr>
                        <th>Površina objekta:</th>
                        <td>
                            <div class="input-group standard-input">
                                <input type="text" class="form-control" />
                                <span class="input-group-addon">m2</span>
                            </div>
                        </td>
                        <th> &nbsp;&nbsp; Starost objekta:</th>
                        <td>
                            <div class="input-group standard-input">
                                <input type="text" class="form-control" />
                                <span class="input-group-addon">god</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Vrednost objekta:</th>
                        <td>
                            <div class="input-group standard-input">
                                <input type="text" class="form-control" />
                                <span class="input-group-addon">EUR</span>
                            </div>
                        </td>
                    </tr>        
                    <tr class="align-row-top">
                        <th colspan="4">Osiguranje vazi u slucajevima kada je steta nastala kao posledica:</th>
                    </tr>
                    <tr><td colspan="4">
                        <table>
                            <tr>
                                <td><input type="checkbox"> Poplave &nbsp;&nbsp;&nbsp;</input></td>
                                <td><input type="checkbox"> Požara &nbsp;&nbsp;&nbsp;</input></td>
                                <td><input type="checkbox"> Krađe &nbsp;&nbsp;&nbsp;</input></td>
                                <td> &nbsp; </td>
                            </tr>
                        </table>
                    </td></tr>
                </table>
            </div>

            <hr class="hr-grey" />

            <expander-advanced enable-expander="cc.enableVehicle" show-expander="cc.showVehicle">Osiguranje "Pomoc na Putu"</expander-advanced>

            <div class="overview-segment slide-up-animation-vehicle" ng-show="cc.showVehicle">
                <table class="my-form-fields-table">
                    <tr>
                        <th colspan="3">Paket pokriva:</th>
                    </tr>
                    <tr>
                        <td><select-checkbox select-enabled="temp1">Šlep služba, do kilometraže:</select-checkbox></td>
                        <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
                        <td><select-checkbox select-enabled="chooseRepair">Popravka vozila, do iznosa:</select-checkbox></td>
                    </tr>
                    <tr>
                        <td><select-checkbox select-enabled="chooseHotel">Smeštaj u hotelu, do broja dana:</select-checkbox></td>
                        <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
                        <td><select-checkbox select-enabled="temp2">Alternativni prevoz:</select-checkbox></td>
                    </tr>
                </tr>

                </table>
            </div>

            <div class="calculator-final-price">
                <hr class="hr-grey" />
                <h3 class="header-right header-red">Cena osiguranja: 24.000 RSD</h3>
            </div>

            <hr />

            <div>
                <table class="my-overview-buttons">
                    <tr>
                        <td class="my-button-overview-single"><div>Izracunaj cenu</div></td>
                        <th>&nbsp;</th>
                        <td class="my-button-overview-single"><a ui-sref="core.process"><div>Produzi ka kupovini &nbsp; <span class="glyphicon glyphicon-chevron-right"></span></div></a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>