<div class="page-holder">
    <div class="overview-content-holder">
    
        <div class="overview-panel">
            <h2 class="header-center">Kalkulator Osiguranja</h2>
            <hr />
            <h3><span class="user-toggle"><span class="glyphicon glyphicon-menu-down user-show"></span><span class="glyphicon glyphicon-menu-right user-hide" style="display:none;"></span>&nbsp Podaci o osiguranju</span></h3>
            <div class="overview-segment">
                <table class="my-form-fields-table">
                    <tr>
                        <th>Mesto putovanja:</th>
                        <td><select class="form-control" /></td>
                        <th> &nbsp&nbsp Visna rizika:</th>
                        <td><select class="form-control" /></td>
                    </tr>
                    <tr>
                        <th>Početak važenja:</th>
                        <td><input type="date" class="form-control" /></td>
                        <th> &nbsp&nbsp Kraj važenja:</th>
                        <td><input type="date" class="form-control" /></td>
                    </tr>
                </table>
            </div>

            <hr class="hr-grey" />

            <h3><span class="user-toggle"><span class="glyphicon glyphicon-menu-down user-show"></span><span class="glyphicon glyphicon-menu-right user-hide" style="display:none;"></span>&nbsp Osiguranici</span></h3>
            <div class="overview-segment">
                <table class="my-form-fields-table">
                    <tr>
                        <th>Osiguranik 1:</th>
                        <th>&nbsp&nbsp Starosna grupa:</th>
                        <td colspan="2"><select class="form-control medium-input" /></td>
                        <th>&nbsp&nbsp Bavljenje sportom:</th>
                        <td><input type="radio" name="os7"> Da</input>&nbsp&nbsp <input type="radio" name="os7" checked="true"> Ne</input>&nbsp&nbsp</td>
                        <td><select class="form-control medium-input" /></td>
                        <td><img class="remove-img" src="../Content/angular/assets/images/remove.png"></td>
                    </tr>
                    <tr>
                        <th>Osiguranik 2:</th>
                        <th>&nbsp&nbsp Starosna grupa:</th>
                        <td colspan="2"><select class="form-control medium-input" /></td>
                        <th>&nbsp&nbsp Bavljenje sportom:</th>
                        <td><input type="radio" name="os6"> Da</input>&nbsp&nbsp <input type="radio" name="os6" checked="true"> Ne</input>&nbsp&nbsp</td>
                        <td><select class="form-control medium-input" /></td>
                        <td><img class="remove-img" src="../Content/angular/assets/images/remove.png"></td>
                    </tr>
                    <tr><td> &nbsp </td></tr>
                    <tr><td colspan="8" class="insured-manage"><a>Dodaj osiguranika</a></td></tr>
                </table>
            </div>

            <hr class="hr-grey" />

            <h3>
                <span class="user-toggle"><span class="glyphicon glyphicon-menu-down user-show"></span><span class="glyphicon glyphicon-menu-right user-hide" style="display:none;"></span>&nbsp Osiguranje objekta</span>
                <span class="force-header-right user-toggle-size">Zelite li osiguranje objekta: <input type="radio" name="os2"> Da</input>&nbsp&nbsp <input type="radio" name="os2" checked="true"> Ne</input></span>
            </h3>

            <div class="overview-segment">
                <table class="my-form-fields-table">
                    <tr>
                        <th>Početak važenja:</th>
                        <td><input type="date" class="form-control" /></td>
                        <th> &nbsp&nbsp Kraj važenja:</th>
                        <td><input type="date" class="form-control" /></td>
                    </tr>
                    <tr>
                        <th>Površina objekta:</th>
                        <td>
                            <div class="input-group input-standard">
                                <input type="text" class="form-control" />
                                <span class="input-group-addon">m2</span>
                            </div>
                        </td>
                        <th> &nbsp&nbsp Starost objekta:</th>
                        <td>
                            <div class="input-group input-standard">
                                <input type="text" class="form-control" />
                                <span class="input-group-addon">god</span>
                            </div>
                        </td>
                    </tr>
                    <tr class="align-row-top">
                        <th>Vrednost objekta:</th>
                        <td>
                            <div class="input-group input-standard">
                                <input type="text" class="form-control" />
                                <span class="input-group-addon">EUR</span>
                            </div>
                        </td>
                        <th> &nbsp&nbsp Osiguranje pokriva:</th>
                        <td>
                            <table>
                                <tr><td><input type="checkbox" /></td><td>Poplave</td></tr>
                                <tr><td><input type="checkbox" /></td><td>Požara</td></tr>
                                <tr><td><input type="checkbox" /></td><td>Krađe</td></tr>
                            </table>
                        </td>
                    </tr>

                </table>
            </div>

            <hr class="hr-grey" />

            <h3>
                <span class="user-toggle"><span class="glyphicon glyphicon-menu-down user-show"></span><span class="glyphicon glyphicon-menu-right user-hide" style="display:none;"></span>&nbsp "Pomoc na Putu"</span>
                <span class="force-header-right user-toggle-size">Zelite li paket "Pomoc na Putu": <input type="radio" name="os3"> Da</input>&nbsp&nbsp <input type="radio" name="os3" checked="true"> Ne</input></span>
            </h3>
            <div class="overview-segment">
                <table class="my-form-fields-table">
                    <tr>
                        <th>Početak važenja:</th>
                        <td><input type="date" class="form-control" /></td>
                        <th> &nbsp&nbsp Kraj važenja:</th>
                        <td><input type="date" class="form-control" /></td>
                    </tr>
                    <tr>
                        <th>Paket pokriva:</th>
                        <td colspan="3">
                            <table>
                                <tr><td><input type="checkbox" /></td><td>Šlep služba, do kilometraže:</td><td><select class="form-control small-input" /></td></tr>
                                <tr><td><input type="checkbox" /></td><td>Popravka vozila, do iznosa:</td><td><select class="form-control small-input" /></td></tr>
                                <tr><td><input type="checkbox" /></td><td>Smeštaj u hotelu, do broja dana:</td><td><select class="form-control small-input" /></td></tr>
                                <tr><td><input type="checkbox" /></td><td>Alternativni prevoz</td></tr>
                            </table>
                        </td>
                    </tr>

                </table>
            </div>

            <div class="calculator-final-price">
                <hr class="hr-grey" />
                <h3 class="header-right header-red">Cena osiguranja: 24.000 RSD</h3>
            </div>

            <hr />

            <div>
                <table class="my-overview-buttons">
                    <tr>
                        <td class="my-button-overview-single"><div>&nbsp </div></td>
                        <td class="my-button-overview-single"><div>Izracunaj cenu</div></td>
                        <td class="my-button-overview-single calculator-final-price"><div>Produzi ka kupovini &nbsp <span class="glyphicon glyphicon-chevron-right"></span></div></td>
                </table></tr>
            </div>
        </div>
    </div>
</div>