<div class="page-holder">
    <div class="overview-content-holder">
    
        <div class="overview-panel">

            <h2 class="header-center">{{cr.l10nObj.clcPgHead}}</h2>
            <p>
                <br/>Iskoristite kalkulator osiguranja kako biste dobili tačan iznos cene osiguranja bez ulaska u proceduru kupovine osiguranja.<br />
                Molimo Vas da popunite <b>SVA</b> polja.
            </p>
            <hr />

            <form name="calculatorForm" novalidate>

                <expander-simple show-expander="cc.showInsurance">{{cr.l10nObj.clcPgTIHead}}</expander-simple>

                <div class="overview-segment" ng-slide-down="cc.showInsurance">
                    <table class="my-form-fields-table">
                        <tr>
                            <th>{{cr.l10nObj.clcPgTIPlace}}</th>
                            <td>
                                <select class="form-control" ng-options="location.Id_Rizik as location.Prevod[cr.lang].Naziv_Prevod for location in cc.locations" ng-model="cc.data.selectedLocation"></select>
                            </td>
                            <th> &nbsp;&nbsp; {{cr.l10nObj.clcPgTIToSum}}</th>
                            <td>
                                <select class="form-control" ng-options="insuranceAmount.Id_Rizik as insuranceAmount.Prevod[cr.lang].Naziv_Prevod for insuranceAmount in cc.insuranceAmounts" ng-model="cc.data.selectedInsuranceAmount"></select>
                            </td>
                        </tr>
                        <tr>
                            <th>{{cr.l10nObj.clcPgTIStartDate}}</th>
                            <td>
                                <span message="Datum početka važenja mora biti barem današnji datum." ng-class="{'error-info-calc': calculatorForm.nameDateFrom.$invalid && (calculatorForm.nameDateFrom.$touched || cc.showErrors)}">
                                    <input type="date" name="nameDateFrom" class="form-control" ng-class="{'show-error': cc.showErrors}" ng-model="cc.data.dateFrom" ng-change="cc.changeStartDate()"
                                           placeholder="yyyy-MM-dd" min="{{cc.currentDate | date: 'yyyy-MM-dd'}}" required />
                                </span>
                            </td>
                            <th> &nbsp;&nbsp; {{cr.l10nObj.clcPgTIEndDate}}</th>
                            <td>
                                <span message="Datum kraja važenja mora biti nakon datuma početka važenja." ng-class="{'error-info-calc': calculatorForm.nameDateTo.$invalid && (calculatorForm.nameDateTo.$touched || cc.showErrors)}">
                                    <input type="date" name="nameDateTo" class="form-control" ng-class="{'show-error': cc.showErrors}" ng-model="cc.data.dateTo"
                                           placeholder="yyyy-MM-dd" min="{{cc.nextDate | date: 'yyyy-MM-dd'}}" required />
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th>&nbsp;</th>
                        </tr>
                        <tr class="align-row-top">
                            <th colspan="4">{{cr.l10nObj.clcPgTIPersonsData}}</th>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <table>
                                    <tr>
                                        <th>{{cc.ageGroups[0].Prevod[cr.lang].Naziv_Prevod}}</th>
                                        <td>
                                            <span message="Mora biti osiguran barem jedan putnik, bilo kog uzrasta." ng-class="{'error-info-calc': calculatorForm.nameCountYoung.$invalid && (calculatorForm.nameCountYoung.$touched || cc.showErrors)}">
                                                <input type="number" name="nameCountYoung" ng-blur="cc.countYoungTouched()" ng-change="cc.peopleCountChanged()" class="form-control small-input" ng-class="{'show-error': cc.showErrors}" min="0" ng-model="cc.data.ageNumberYoung" />
                                            </span>
                                        </td>
                                        <th>&nbsp; &nbsp; {{cc.ageGroups[1].Prevod[cr.lang].Naziv_Prevod}}</th>
                                        <td>
                                            <span message="Mora biti osiguran barem jedan putnik, bilo kog uzrasta." ng-class="{'error-info-calc': calculatorForm.nameCountAdult.$invalid && (calculatorForm.nameCountAdult.$touched || cc.showErrors)}">
                                                <input type="number" name="nameCountAdult" ng-blur="cc.countAdultTouched()" ng-change="cc.peopleCountChanged()" class="form-control small-input" ng-class="{'show-error': cc.showErrors}" min="0" ng-model="cc.data.ageNumberAdult" />
                                            </span>
                                        </td>
                                        <th>&nbsp; &nbsp; {{cc.ageGroups[2].Prevod[cr.lang].Naziv_Prevod}}</th>
                                        <td>
                                            <span message="Mora biti osiguran barem jedan putnik, bilo kog uzrasta." ng-class="{'error-info-calc': calculatorForm.nameCountOld.$invalid && (calculatorForm.nameCountOld.$touched || cc.showErrors)}">
                                                <input type="number" name="nameCountOld" ng-blur="cc.countOldTouched()" ng-change="cc.peopleCountChanged()" class="form-control small-input" ng-class="{'show-error': cc.showErrors}" min="0" ng-model="cc.data.ageNumberOld" />
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th colspan="3">{{cr.l10nObj.clcPgTISport}}</th>
                                        <td><input type="radio" name="os6" ng-model="cc.data.sport" ng-value="true">&nbsp;{{cr.l10nObj.Y}}</input>&nbsp;&nbsp; <input type="radio" name="os6" ng-model="cc.data.sport" checked="true" ng-value="false">&nbsp;{{cr.l10nObj.N}}</input>&nbsp;&nbsp;</td>
                                        <td colspan="2"><select class="form-control standard-input" ng-options="sport.Id_Rizik as sport.Prevod[cr.lang].Naziv_Prevod for sport in cc.sports" ng-model="cc.data.selectedSport" ng-disabled="!cc.data.sport"></select></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>

                <hr class="hr-grey" />

                <h3>
                    <span class="user-toggle" ng-class="{'user-toggle-disabled': !cc.enableObject}" ng-click="cc.showObject=cc.enableObject?!cc.showObject:false">
                        <span class="glyphicon glyphicon-menu-down" ng-show="cc.showObject"></span><span class="glyphicon glyphicon-menu-right" ng-show="!cc.showObject"></span>
                        &nbsp;{{cr.l10nObj.clcPgOIHead}}
                    </span>
                    <span class="force-header-right user-toggle-size">
                        {{cr.l10nObj.clcPgNeed}}{{cr.l10nObj.clcPgOIHead}}?&nbsp;&nbsp;
                        <input type="radio" ng-model="cc.enableObject" ng-value="true" ng-click="cc.showObject = true;"> {{cr.l10nObj.Y}}</input>&nbsp;
                        <input type="radio" ng-model="cc.enableObject" ng-value="false" ng-click="cc.showObject = false; cc.disableObjects();" ng-checked="true"> {{cr.l10nObj.N}}</input>
                    </span>
                </h3>

                <div class="overview-segment" ng-slide-down="cc.showObject" lazy-render>
                    <table class="my-form-fields-table">
                        <tr>
                            <th>{{cr.l10nObj.clcPgOIArea}}</th>
                            <td>
                                <span message="Povrsina treba da bude broj sa najvise dve decimale." ng-class="{'error-info-calc': calculatorForm.nameObjectSize.$invalid && (calculatorForm.nameObjectSize.$touched || cc.showErrors)}">
                                    <span class="input-group standard-input">
                                        <input type="text" class="form-control" name="nameObjectSize" ng-model="cc.data.residenceSize" ng-pattern="/^[1-9][0-9]*(\.[0-9][0-9]?)?$/" ng-class="{'show-error': cc.objectRequiredShow() }" ng-required="cc.enableObject" />
                                        <span class="input-group-addon">m2</span>
                                    </span>
                                </span>
                            </td>
                            <th> &nbsp;&nbsp; {{cr.l10nObj.clcPgOIAge}}</th>
                            <td>
                                <div class="input-group standard-input">
                                    <select class="form-control" ng-options="realEstateAge.Id_Rizik as realEstateAge.Prevod[cr.lang].Naziv_Prevod for realEstateAge in cc.realEstateAges" ng-model="cc.data.selectedRealEstateAge"></select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>{{cr.l10nObj.clcPgOIValue}}</th>
                            <td>
                                <div class="input-group standard-input">
                                    <select class="form-control" ng-options="realEstateValue.Id_Rizik as realEstateValue.Prevod[cr.lang].Naziv_Prevod for realEstateValue in cc.realEstateValues" ng-model="cc.data.selectedRealEstateValue"></select>
                                </div>
                            </td>
                        </tr>
                        <tr class="align-row-top">
                            <th colspan="4">{{cr.l10nObj.clcPgOICases}}</th>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <table>
                                    <tr>
                                        <td class="medium-input"><input type="checkbox" name="nameObjectFlood" ng-change="cc.validateObjectOptions()" ng-model="cc.data.residenceFromFlood"> {{cr.l10nObj.clcPgOIFlood}} &nbsp;&nbsp;&nbsp;</input></td>
                                        <td class="medium-input"><input type="checkbox" name="nameObjectFire" ng-change="cc.validateObjectOptions()" ng-model="cc.data.residenceFromFire"> {{cr.l10nObj.clcPgOIFire}} &nbsp;&nbsp;&nbsp;</input></td>
                                        <td class="medium-input"><input type="checkbox" name="nameObjectTheft" ng-change="cc.validateObjectOptions()" ng-model="cc.data.residenceFromTheft"> {{cr.l10nObj.clcPgOITheft}} &nbsp;&nbsp;&nbsp;</input></td>
                                        <td class="medium-input"> &nbsp; </td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td class="align-cell-right" ng-class="{'red-bold': !calculatorForm.nameObjectFire.$valid}" colspan="4">(odaberite barem jednu od opcija)</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>

                <hr class="hr-grey" />

                <h3>
                    <span class="user-toggle" ng-class="{'user-toggle-disabled': !cc.enableVehicle}" ng-click="cc.showVehicle=cc.enableVehicle?!cc.showVehicle:false">
                        <span class="glyphicon glyphicon-menu-down" ng-show="cc.showVehicle"></span><span class="glyphicon glyphicon-menu-right" ng-show="!cc.showVehicle"></span>
                        &nbsp;{{cr.l10nObj.clcPgCIHead}}
                    </span>
                    <span class="force-header-right user-toggle-size">
                        {{cr.l10nObj.clcPgNeed}}{{cr.l10nObj.clcPgCIHead}}?&nbsp;&nbsp;
                        <input type="radio" ng-model="cc.enableVehicle" ng-value="true" ng-click="cc.showVehicle = true"> {{cr.l10nObj.Y}}</input>&nbsp;
                        <input type="radio" ng-model="cc.enableVehicle" ng-value="false" ng-click="cc.showVehicle=false; cc.disableVehicles();" ng-checked="true"> {{cr.l10nObj.N}}</input>
                    </span>
                </h3>

                <div class="overview-segment" ng-slide-down="cc.showVehicle" lazy-render>
                    <table class="my-form-fields-table">
                        <tr>
                            <th colspan="7">{{cr.l10nObj.clcPgCICoverage}}</th>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="nameVehicleTowing" ng-model="cc.data.towing" ng-change="cc.validateVehicleOptions()" /></td>
                            <td>{{cr.l10nObj.clcPgCITowing}}</td>
                            <td><select class="form-control standard-input" ng-disabled="!cc.data.towing" ng-options="towingDistance.Id_Rizik as towingDistance.Prevod[cr.lang].Naziv_Prevod for towingDistance in cc.towingDistances" ng-model="cc.data.selectedTowingDistance"></select></td>
                            <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
                            <td><input type="checkbox" name="nameVehicleRepair" ng-model="cc.data.repair" ng-change="cc.validateVehicleOptions()" /></td>
                            <td>{{cr.l10nObj.clcPgCIRepair}}</td>
                            <td><select class="form-control standard-input" ng-disabled="!cc.data.repair" ng-options="reperationPrice.Id_Rizik as reperationPrice.Prevod[cr.lang].Naziv_Prevod for reperationPrice in cc.reparationPrices" ng-model="cc.data.selectedReparationPrice"></select></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="nameVehicleHotel" ng-model="cc.data.hotel" ng-change="cc.validateVehicleOptions()" /></td>
                            <td>{{cr.l10nObj.clcPgCIAcc}}</td>
                            <td><select class="form-control standard-input" ng-disabled="!cc.data.hotel" ng-options="hotelDay.Id_Rizik as hotelDay.Prevod[cr.lang].Naziv_Prevod for hotelDay in cc.hotelDays" ng-model="cc.data.selectedHotelDays"></select></td>
                            <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
                            <td><input type="checkbox" name="nameVehicleTransport" ng-model="cc.data.alternateTransport" ng-change="cc.validateVehicleOptions()" /></td>
                            <td>{{cr.l10nObj.clcPgCIAltTrans}}</td>
                            <td><select class="form-control standard-input" ng-disabled="!cc.data.alternateTransport" ng-options="alternateTransportationDistance.Id_Rizik as alternateTransportationDistance.Prevod[cr.lang].Naziv_Prevod for alternateTransportationDistance in cc.alternateTransportationDistances" ng-model="cc.data.selectedAlternateTransportationDistance"></select></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="align-cell-right" ng-class="{'red-bold': !calculatorForm.nameVehicleTransport.$valid}" colspan="7">(odaberite barem jednu od opcija)</td>
                        </tr>

                    </table>
                </div>

                <div class="calculator-final-price" ng-show="cc.priceIsCalculated">
                    <hr class="hr-grey" />
                    <h3 class="header-right header-red">{{cr.l10nObj.clcPgCalcPr}} {{cc.calculatedPrice | number : 2}} RSD</h3>
                </div>

                <hr />

                <div>
                    <table class="my-overview-buttons">
                        <tr>
                            <td><button class="my-button-overview-single" ng-disabled="calculatorForm.$pristine && cc.priceIsCalculated" ng-click="cc.calculate()">{{cr.l10nObj.clcPgCalculate}}</button></td>
                            <th>&nbsp;</th>
                            <td><button class="my-button-overview-single" ng-disabled="!calculatorForm.$pristine || !cc.priceIsCalculated" ng-click="cc.proceedToProcess()"><div>{{cr.l10nObj.clcPgProceedToP}} &nbsp; <span class="glyphicon glyphicon-chevron-right"></span></div></button></td>
                        </tr>
                    </table>
                </div>

            </form>
        </div>
    </div>
</div>