<div class="page-holder">
    <div class="main-content-holder">

        <page-marker selected-page="pr.selectedProcessPanel"></page-marker>

        <div class="float-control" ng-class="{'class1' : pr.selectedProcessPanel[0], 'class2' : pr.selectedProcessPanel[1], 'class3' : pr.selectedProcessPanel[2], 'class4' : pr.selectedProcessPanel[3], 'class5' : pr.selectedProcessPanel[4]}">

            <div class="main-content" style="margin-left: 0em" ng-show="true">
                <div class="form-holder">
                    <h3 class="margin-bottom">Podaci o osiguranju</h3>
                    <form><!-- Da li mora biti ngForm? -->
                        <div class="my-form-fields">
                            <table class="my-form-fields-table">
                                <tr><th>Mesto putovanja:</th><td><select class="form-control" ng-options="location.Id_Rizik as location.Prevod[cr.lang].Naziv_Prevod for location in pr.locations" ng-model="pr.data.selectedLocation"></select></td></tr>
                                <tr><th>Početak važenja:</th><td><input type="date" class="form-control" ng-model="pr.data.dateFrom"/></td></tr>
                                <tr><th>Kraj važenja:</th><td><input type="date" class="form-control" ng-model="pr.data.dateTo"/></td></tr>
                                <tr><th>Visina rizika:</th><td><select class="form-control" ng-options="insuranceAmount.Id_Rizik as insuranceAmount.Prevod[cr.lang].Naziv_Prevod for insuranceAmount in pr.insuranceAmounts" ng-model="pr.data.selectedInsuranceAmount"></select></td></tr>
                            </table>
                        </div>
                        <hr />
                        <div class="my-form-buttons">
                            <div class="my-button-navigation" style="cursor:default;"></div>
                            <div class="my-button-navigation" ng-click="pr.selectedProcessPanel = [false, true, false, false, false]; cr.scroll()">Dalje &nbsp;&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span></div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="main-content" ng-show="true"><!-- Tabela sa listom osiguranika, može hide ako je prazna. -->
                <div class="form-holder">
                    <h3 class="margin-bottom">Podaci o osiguranicima</h3>
                    <div>
                        <table class="insured-table">
                            <tr class="insured-table-header"><th class="colname">Ime</th><th class="colsurname">Prezime</th><th class="coljmbg">JMBG</th><th class="colcat">Kategorija</th></tr>
                            <tr class="insured-table-data"><td>Djordje</td><td>Jovicevic</td><td>1212987345632</td><td>od 18 do 65</td></tr>
                            <tr class="insured-table-data selected"><td>Djordje</td><td>Jovicevic</td><td>1212987345632</td><td>od 18 do 65</td></tr>
                        </table> <!-- Buttons da se ne vide ako nema nikoga u tabeli, to je samo isti tag, ngHide-->
                        <div class="insured-manage"><a class="header-red">Ukloni osiguranika</a> &nbsp;&nbsp;&nbsp;&nbsp; 
                        <a>Dodaj osiguranika</a></div>
                    </div>

                    <table class="my-form-fields-table"> <!-- samo kad se vidi tabela. -->
                        <tr>
                            <th>Korisnici osiguranja ce se baviti sportom:</th>
                            <td><input type="radio" name="os"> Da</input>&nbsp;&nbsp; <input type="radio" name="os" checked="true"> Ne</input>&nbsp;&nbsp;</td>
                            <td class="colpicksport"><select class="form-control" ng-options="sport.Id_Rizik as sport.Prevod[cr.lang].Naziv_Prevod for sport in pr.sports" ng-model="pr.data.selectedSport"></select></td>
                        </tr>
                    </table>

                        
                    <form>
                        <div class="my-form-fields">

                            <expander-simple show-expander="pr.showUserDetails">Osiguranje</expander-simple>

                            <div class="slide-up-animation-user" ng-show="pr.showUserDetails">
                                <table class="my-form-fields-table">
                                    <tr><th>Ime:</th><td><input type="text" class="form-control" /></td></tr>
                                    <tr><th>Prezime:</th><td><input type="text" class="form-control" /></td></tr>
                                    <tr><th>JMBG:</th><td><input type="text" class="form-control" /></td></tr>
                                    <tr><th>Br. pasoša:</th><td><input type="text" class="form-control" /></td></tr>
                                    <tr class="align-row-top"><th colspan="2">Adresa</th></tr>
                                    <tr><td class="align-cell-right">Ulica:</td><td><input type="text" class="form-control" /></td></tr>
                                    <tr><td class="align-cell-right">Broj:</td><td><input type="text" class="form-control" /></td></tr>
                                    <tr><td class="align-cell-right">Naselje:</td><td><input type="text" class="form-control" /></td></tr>
                                    <tr><th>Br telefona:</th><td><input type="text" class="form-control" /></td></tr>
                                    <tr><th>Starosna grupa:</th><td><select class="form-control" /></td></tr>
                                    <tr>
                                        <td colspan="2">
                                            <div class="my-buttons-action">
                                                <div class="my-button-action">Potvrdi</div>
                                                <div class="my-button-action">Odustani</div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <hr />
                        <div class="my-form-buttons">
                            <div class="my-button-navigation" ng-click="pr.selectedProcessPanel = [true, false, false, false, false]; cr.scroll()"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;&nbsp; Nazad</div>
                            <div class="my-button-navigation" ng-click="pr.selectedProcessPanel = [false, false, true, false, false]; cr.scroll()">Dalje &nbsp;&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span></div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="main-content" ng-show="true">
                <div class="form-holder">
                    <h3 class="margin-bottom">
                        Da li želite osiguranje objekta?<br /><br />
                        <input type="radio" name="objectInsurance" ng-model="pr.hideObjectInsurance" ng-value="true"> Da</input>&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="objectInsurance" ng-model="pr.hideObjectInsurance" ng-value="false" ng-checked="true"> Ne</input>
                    </h3>
                    <form>
                        <div class="my-form-fields slide-up-animation-object-proccess" ng-show="pr.hideObjectInsurance">
                            <h4>Podaci o osiguranju objekta</h4>
                            <table class="my-form-fields-table">
                                <tr>
                                    <th>Površina objekta:</th>
                                    <td>
                                        <div class="input-group standard-input">
                                            <input type="text" class="form-control" />
                                            <span class="input-group-addon">m2</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Starost objekta:</th>
                                    <td>
                                        <div class="input-group standard-input">
                                            <input type="text" class="form-control" />
                                            <span class="input-group-addon">god</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Vrednost objekta:</th>
                                    <td>
                                        <div class="input-group standard-input">
                                            <input type="text" class="form-control" />
                                            <span class="input-group-addon">EUR</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="align-row-top">
                                    <th colspan="2">Osiguranje važi u slučaju:</th>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <table>
                                            <tr>
                                                <td><input type="checkbox"> Poplave</input></td>
                                                <td> &nbsp;&nbsp;&nbsp; </td>
                                                <td><input type="checkbox"> Požara</input></td>
                                                <td> &nbsp;&nbsp;&nbsp; </td>
                                                <td><input type="checkbox"> Krađe</input></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                            </table>

                            <h4> &nbsp; Podaci o objektu</h4>
                            <table class="my-form-fields-table">
                                <tr><th>Ime vlasnika:</th><td><input type="text" class="form-control" /></td></tr>
                                <tr><th>Prezime vlasnika:</th><td><input type="text" class="form-control" /></td></tr>
                                <tr><th>JMBG vlasnika:</th><td><input type="text" class="form-control" /></td>
                                <tr class="align-row-top"><th colspan="2">Adresa objekta</th></tr>
                                <tr><td class="align-cell-right">Ulica:</td><td><input type="text" class="form-control" /></td></tr>
                                <tr><td class="align-cell-right">Broj:</td><td><input type="text" class="form-control" /></td></tr>
                                <tr><td class="align-cell-right">Naselje:</td><td><input type="text" class="form-control" /></td></tr>
                            </table>
                        </div>
                        <hr />
                        <div class="my-form-buttons">
                            <div class="my-button-navigation" ng-click="pr.selectedProcessPanel = [false, true, false, false, false]; cr.scroll()"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;&nbsp; Nazad</div>
                            <div class="my-button-navigation" ng-click="pr.selectedProcessPanel = [false, false, false, true, false]; cr.scroll()">Dalje &nbsp;&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span></div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="main-content" ng-show="true">
                <div class="form-holder">
                    <form>
                        <h3 class="margin-bottom">
                            Da li želite osiguranje "Pomoć na putu"?<br /><br />
                            <input type="radio" name="vehicleInsurance" ng-model="pr.hideVehicleInsurance" ng-value="true"> Da</input>&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="vehicleInsurance" ng-model="pr.hideVehicleInsurance" ng-value="false" ng-checked="true"> Ne</input>
                        </h3>
                        <div class="my-form-fields slide-up-animation-vehicle-proccess" ng-show="pr.hideVehicleInsurance">
                            <h4>Podaci osiguranju "Pomoć na putu"</h4>         
                            <table class="my-form-fields-table">
                                <tr><th colspan="3">Paket osiguranja pokriva:</th></tr>
                                <tr><td><input type="checkbox" /></td><td class="align-cell-left">Šlep služba, do kilometraže:</td><td><select class="form-control small-input" /></td></tr>
                                <tr><td><input type="checkbox" /></td><td class="align-cell-left">Popravka vozila, do iznosa:</td><td><select class="form-control small-input" /></td></tr>
                                <tr><td><input type="checkbox" /></td><td class="align-cell-left">Smeštaj u hotelu, do broja dana:</td><td><select class="form-control small-input" /></td></tr>
                                <tr><td><input type="checkbox" /></td><td class="align-cell-left">Alternativni prevoz</td><td><select class="form-control small-input" /></td></tr>
                            </table>

                            <h4>&nbsp; Podaci o vozilu</h4>
                            <table class="my-form-fields-table">
                                <tr><th>Marka vozila:</th><td><input type="text" class="form-control" /></td></tr>
                                <tr><th>Tip vozila:</th><td><select class="form-control" /></td></tr>
                                <tr><th>Broj šasije:</th><td><input type="text" class="form-control" /></td></tr>
                                <tr><th>God. propizvodnje:</th><td><input type="text" class="form-control" /></td></tr>
                                <tr><th>Registarska oznaka:</th><td><input type="text" class="form-control" /></td></tr>
                                <tr><th>Ime vlasnika:</th><td><input type="text" class="form-control" /></td></tr>
                                <tr><th>Prezime vlasnika:</th><td><input type="text" class="form-control" /></td></tr>
                                <tr><th>JMBG vlasnika:</th><td><input type="text" class="form-control" /></td>
                            </table>
                        </div>

                        <hr />
                        <div class="my-form-buttons">
                            <div class="my-button-navigation" ng-click="pr.selectedProcessPanel = [false, false, true, false, false]; cr.scroll()"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;&nbsp; Nazad</div>
                            <div class="my-button-navigation" ng-click="pr.selectedProcessPanel = [false, false, false, false, true]; cr.scroll()">Dalje &nbsp;&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span></div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="main-content" ng-show="true">
                <div class="form-holder">
                    <h3 class="margin-bottom">Nosilac osiguranja</h3>
                    <form>
                        <table class="my-form-fields-table">
                            <tr>
                                <th>Nosilac osiguranja je:</th>
                                <td><input type="radio" name="insCarrier" ng-model="pr.insuranceCarrierIsNotInsured" ng-value="false" ng-checked="true"> Osigurano lice</input></td>
                            </tr>
                            <tr>
                                <th>&nbsp;</th>
                                <td><input type="radio" name="insCarrier" ng-model="pr.insuranceCarrierIsNotInsured" ng-value="true"> Nezavisno lice</input></td>
                            </tr>
                        </table>

                        <div ng-hide="pr.insuranceCarrierIsNotInsured">
                            <h4>Odaberite nosioca osiguranja</h4>
                            <table class="my-form-fields-table">
                                <tr>
                                    <td><select class="form-control realy-big-input"><option>Aleksandar Petronijevicic (0909090090909)</option></select></td>
                                </tr>
                            </table>
                        </div>

                        <div ng-show="pr.insuranceCarrierIsNotInsured">
                            <h4>Unesite podatke o nosiocu osiguranja</h4>
                            <table class="my-form-fields-table">
                                <tr><th>Ime:</th><td><input type="text" class="form-control big-input" /></td></tr>
                                <tr><th>Prezime:</th><td><input type="text" class="form-control" /></td></tr>
                                <tr><th>JMBG:</th><td><input type="text" class="form-control" /></td></tr>
                                <tr class="align-row-top"><th colspan="2">Adresa</th></tr>
                                <tr><td class="align-cell-right">Ulica:</td><td><input type="text" class="form-control" /></td></tr>
                                <tr><td class="align-cell-right">Broj:</td><td><input type="text" class="form-control" /></td></tr>
                                <tr><td class="align-cell-right">Naselje:</td><td><input type="text" class="form-control" /></td></tr>
                                <tr><th>Br. telefona:</th><td><input type="text" class="form-control" /></td></tr>
                                <tr><th>E-mail:</th><td><input type="text" class="form-control" /></td></tr>
                            </table>
                        </div>

                        <hr />
                        <div class="my-form-buttons">
                            <div class="my-button-navigation" ng-click="pr.selectedProcessPanel = [false, false, false, true, false]; cr.scroll()"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;&nbsp; Nazad</div>
                            <div class="my-button-navigation"><a ui-sref="core.preview">Završi</a></div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>