<div class="page-holder">
    <div class="main-content-holder">

        <page-marker selected-page="pr.selectedProcessPanel"></page-marker>

        <div class="float-control" ng-class="{'class1' : pr.selectedProcessPanel[0], 'class2' : pr.selectedProcessPanel[1], 'class3' : pr.selectedProcessPanel[2], 'class4' : pr.selectedProcessPanel[3], 'class5' : pr.selectedProcessPanel[4]}">

            <!-- *********************************  FIRST PAGE  ************************************ -->
            <div class="main-content" style="margin-left: 0em" ng-show="true">
                <div class="form-holder">
                    <h3 class="margin-bottom">{{cr.l10nObj.prsPg1Head}}</h3>
                    <form name="firstPageForm" novalidate>
                        <div class="my-form-fields">
                            <table class="my-form-fields-table">
                                <tr><th>{{cr.l10nObj.prsPg1Place}}</th><td><select class="form-control" ng-options="location.Id_Rizik as location.Prevod[cr.lang].Naziv_Prevod for location in pr.locations" ng-model="pr.data.selectedLocation"></select></td></tr>
                                <tr><th>{{cr.l10nObj.prsPg1StartDate}}</th>
                                <td>
                                    <span message="{{cr.l10nObj.vldInsDateFrom}}" ng-class="{'error-info-proc': firstPageForm.nameDateFrom.$invalid && (firstPageForm.nameDateFrom.$touched || pr.showErrorsFirst)}">
                                        <input type="date" name="nameDateFrom" class="form-control" ng-class="{'show-error': pr.showErrorsFirst}" ng-model="pr.data.dateFrom" ng-change="pr.changeStartDate()"
                                               placeholder="yyyy-MM-dd" min="{{pr.currentDate | date: 'yyyy-MM-dd'}}" required />
                                    </span>    
                                </td></tr>
                                <tr><th>{{cr.l10nObj.prsPg1EndDate}}</th>
                                <td>
                                    <span message="{{cr.l10nObj.vldInsDateTo}}" ng-class="{'error-info-proc': firstPageForm.nameDateTo.$invalid && (firstPageForm.nameDateTo.$touched || pr.showErrorsFirst)}">
                                        <input type="date" name="nameDateTo" class="form-control" ng-class="{'show-error': pr.showErrorsFirst}" ng-model="pr.data.dateTo"
                                               placeholder="yyyy-MM-dd" min="{{pr.nextDate | date: 'yyyy-MM-dd'}}" required />
                                    </span>
                                </td></tr>
                                <tr><th>{{cr.l10nObj.prsPg1ToSum}}</th><td><select class="form-control" ng-options="insuranceAmount.Id_Rizik as insuranceAmount.Prevod[cr.lang].Naziv_Prevod for insuranceAmount in pr.insuranceAmounts" ng-model="pr.data.selectedInsuranceAmount"></select></td></tr>
                            </table>
                        </div>
                        <hr />
                        <div class="my-form-buttons">
                            <div class="my-button-navigation" style="cursor:default;"></div>
                            <div class="my-button-navigation" ng-click="pr.goFromFirstPage(); cr.scroll();">{{cr.l10nObj.prsPgNext}} &nbsp;&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span></div>
                        </div>
                    </form>
                </div>
            </div>
            
            <!-- *********************************  SECOND PAGE ************************************ -->
            <div class="main-content" ng-show="true">
                <div class="form-holder">
                    <h3 class="margin-bottom">{{cr.l10nObj.prsPg2PersonsData}}</h3>

                    <insurees-table insurees="pr.data.customers" localization="cr" process-error="pr.showErrorsSecond" jmbg-pattern="pr.jmbgRegex"></insurees-table>

                    <table class="my-form-fields-table">
                        <tr>
                            <th>{{cr.l10nObj.prsPg2Sport}}</th>
                            <td>
                                <input type="radio" name="os" ng-model="pr.data.sport" ng-value="true" ng-checked="pr.data.sport">{{cr.l10nObj.Y}}&nbsp;</input><br/>
                                <input type="radio" name="os" ng-model="pr.data.sport" ng-value="false" ng-checked="!pr.data.sport">{{cr.l10nObj.N}}&nbsp;</input>
                            </td>
                            <td class="colpicksport">
                                <select class="form-control" ng-disabled="!pr.data.sport" ng-options="sport.Id_Rizik as sport.Prevod[cr.lang].Naziv_Prevod for sport in pr.sports" ng-model="pr.data.selectedSport"></select>
                            </td>
                        </tr>
                    </table>

                    <hr />
                    <div class="my-form-buttons">
                        <div class="my-button-navigation" ng-click="pr.selectedProcessPanel = [true, false, false, false, false]; cr.scroll()"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;&nbsp; {{cr.l10nObj.prsPgBack}}</div>
                        <div class="my-button-navigation" ng-click="pr.goFromSecondPage(); cr.scroll()">{{cr.l10nObj.prsPgNext}} &nbsp;&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span></div>
                    </div>

                </div>
            </div>

            <!-- *********************************  THIRD PAGE  ************************************ -->
            <div class="main-content" ng-show="true">
                <div class="form-holder">
                    <h3 class="margin-bottom">
                        {{cr.l10nObj.prsPg3OINeed}}<br /><br />
                        <input type="radio" name="objectInsurance" ng-model="pr.data.showObjectInsurance" ng-value="true" ng-checked="pr.data.showObjectInsurance">&nbsp;{{cr.l10nObj.Y}}</input>&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="objectInsurance" ng-model="pr.data.showObjectInsurance" ng-value="false" ng-checked="!pr.data.showObjectInsurance" ng-click="pr.disableObjects();">&nbsp;{{cr.l10nObj.N}} </input>
                    </h3>
                    <form name="thirdPageForm" novalidate>
                        <div class="my-form-fields" ng-slide-down="pr.data.showObjectInsurance" lazy-render>
                            <h4>{{cr.l10nObj.prsPg3OIHead}}</h4>
                            <table class="my-form-fields-table">
                                <tr>
                                    <th>{{cr.l10nObj.prsPg3OIArea}}</th>
                                    <td>
                                        <span message="{{cr.l10nObj.vldObjArea}}" ng-class="{'error-info-proc': thirdPageForm.nameObjectSize.$invalid && (thirdPageForm.nameObjectSize.$touched || pr.showErrorsThird)}">
                                            <span class="input-group standard-input">
                                                <input type="text" name="nameObjectSize" class="form-control" ng-class="{'show-error': pr.showErrorsThird}" ng-model="pr.data.residenceSize" ng-pattern="/^[1-9][0-9]*(\.[0-9][0-9]?)?$/" ng-required="pr.data.showObjectInsurance" />
                                                <span class="input-group-addon">m2</span>
                                            </span>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{cr.l10nObj.prsPg3OIAge}}</th>
                                    <td>
                                        <div class="input-group standard-input">
                                            <select class="form-control" ng-options="realEstateAge.Id_Rizik as realEstateAge.Prevod[cr.lang].Naziv_Prevod for realEstateAge in pr.realEstateAges" ng-model="pr.data.selectedRealEstateAge"></select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{cr.l10nObj.prsPg3OIValue}}</th>
                                    <td>
                                        <div class="input-group standard-input">
                                            <select class="form-control" ng-options="realEstateValue.Id_Rizik as realEstateValue.Prevod[cr.lang].Naziv_Prevod for realEstateValue in pr.realEstateValues" ng-model="pr.data.selectedRealEstateValue"></select>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="align-row-top">
                                    <th colspan="2">{{cr.l10nObj.prsPg3OICases}}</th>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <table>
                                            <tr>
                                                <td><input name="nameObjectFlood" type="checkbox" ng-model="pr.data.residenceFromFlood" ng-change="pr.validateObjectOptions()"> {{cr.l10nObj.prsPg3OIFlood}} &nbsp;&nbsp;&nbsp;</input></td>
                                                <td><input name="nameObjectFire" type="checkbox" ng-model="pr.data.residenceFromFire" ng-change="pr.validateObjectOptions()"> {{cr.l10nObj.prsPg3OIFire}} &nbsp;&nbsp;&nbsp;</input></td>
                                                <td><input name="nameObjectTheft" type="checkbox" ng-model="pr.data.residenceFromTheft" ng-change="pr.validateObjectOptions()"> {{cr.l10nObj.prsPg3OITheft}} &nbsp;&nbsp;&nbsp;</input></td>
                                                <td> &nbsp; </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="align-cell-right" ng-class="{'red-bold': !thirdPageForm.nameObjectFire.$valid}" colspan="2">{{cr.l10nObj.prsPgPickOne}}</td>
                                </tr>

                            </table>

                            <h4> &nbsp; {{cr.l10nObj.prsPg3OIObjectData}}</h4>
                            <table class="my-form-fields-table">
                                <tr>
                                    <th>{{cr.l10nObj.prsPg3OIName}}</th>
                                    <td>
                                        <span message="{{cr.l10nObj.vldObjName}}" ng-class="{'error-info-proc': thirdPageForm.nameObjectName.$invalid && (thirdPageForm.nameObjectName.$touched || pr.showErrorsThird)}">
                                            <input type="text" name="nameObjectName" class="form-control" ng-class="{'show-error': pr.showErrorsThird}" ng-model="pr.data.object.owner.name" required />
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{cr.l10nObj.prsPg3OISurname}}</th>
                                    <td>
                                        <span message="{{cr.l10nObj.vldObjSurname}}" ng-class="{'error-info-proc': thirdPageForm.nameObjectSurname.$invalid && (thirdPageForm.nameObjectSurname.$touched || pr.showErrorsThird)}">
                                            <input type="text" name="nameObjectSurname" class="form-control" ng-class="{'show-error': pr.showErrorsThird}" ng-model="pr.data.object.owner.surname" required />
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{cr.l10nObj.prsPg3OIJMBG}}</th>
                                    <td>
                                        <span message="{{cr.l10nObj.vldObjJmbg}}" ng-class="{'error-info-proc': thirdPageForm.nameObjectJmbg.$invalid && (thirdPageForm.nameObjectJmbg.$touched || pr.showErrorsThird)}">
                                            <input type="text" name="nameObjectJmbg" class="form-control" ng-class="{'show-error': pr.showErrorsThird}" ng-model="pr.data.object.owner.jmbg" ng-blur="pr.validateObjectJmbg()" ng-pattern="pr.jmbgRegex" required />
                                        </span>
                                    </td>
                                </tr>
                                <tr class="align-row-top"><th colspan="2">{{cr.l10nObj.prsPg3OIAddress}}</th></tr>
                                <tr>
                                    <td class="align-cell-right">{{cr.l10nObj.prsPg3OIStreet}}</td>
                                    <td>
                                        <span message="{{cr.l10nObj.vldObjStreet}}" ng-class="{'error-info-proc': thirdPageForm.nameObjectStreet.$invalid && (thirdPageForm.nameObjectStreet.$touched || pr.showErrorsThird)}">
                                            <input type="text" name="nameObjectStreet" class="form-control" ng-class="{'show-error': pr.showErrorsThird}" ng-model="pr.data.object.address.street" required />
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="align-cell-right">{{cr.l10nObj.prsPg3OINumber}}</td>
                                    <td>
                                        <span message="{{cr.l10nObj.vldObjNumber}}" ng-class="{'error-info-proc': thirdPageForm.nameObjectNumber.$invalid && (thirdPageForm.nameObjectNumber.$touched || pr.showErrorsThird)}">
                                            <input type="number" name="nameObjectNumber" min="1" class="form-control small-input" ng-class="{'show-error': pr.showErrorsThird}" ng-model="pr.data.object.address.number" required />
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="align-cell-right">{{cr.l10nObj.prsPg3OIPlace}}</td>
                                    <td>
                                        <span message="{{cr.l10nObj.vldObjCity}}" ng-class="{'error-info-proc': thirdPageForm.nameObjectCity.$invalid && (thirdPageForm.nameObjectCity.$touched || pr.showErrorsThird)}">
                                            <input type="text" name="nameObjectCity" class="form-control" ng-class="{'show-error': pr.showErrorsThird}" ng-model="pr.data.object.address.city" required />
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <hr />
                        <div class="my-form-buttons">
                            <div class="my-button-navigation" ng-click="pr.selectedProcessPanel = [false, true, false, false, false]; cr.scroll()"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;&nbsp; {{cr.l10nObj.prsPgBack}}</div>
                            <div class="my-button-navigation" ng-click="pr.goFromThirdPage(); cr.scroll();">{{cr.l10nObj.prsPgNext}} &nbsp;&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span></div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- *********************************  FOURTH PAGE ************************************ -->
            <div class="main-content" ng-show="true">
                <div class="form-holder">
                    <form name="fourthPageForm" novalidate>
                        <h3 class="margin-bottom">
                            {{cr.l10nObj.prsPg4CINeed}}<br /><br />
                            <input type="radio" name="vehicleInsurance" ng-model="pr.data.showVehicleInsurance" ng-value="true" ng-checked="pr.data.showVehicleInsurance">&nbsp;{{cr.l10nObj.Y}}</input>&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="vehicleInsurance" ng-model="pr.data.showVehicleInsurance" ng-value="false" ng-checked="!pr.data.showVehicleInsurance" ng-click="pr.disableVehicles()">&nbsp;{{cr.l10nObj.N}}</input>
                        </h3>
                        <div class="my-form-fields" ng-slide-down="pr.data.showVehicleInsurance" lazy-render>
                            <h4>{{cr.l10nObj.prsPg4CIHead}}</h4>
                            <table class="my-form-fields-table">
                                <tr><th colspan="3">{{cr.l10nObj.prsPg4CICoverage}}</th></tr>
                                <tr><td><input type="checkbox" name="nameVehicleTowing" ng-model="pr.data.towing" ng-change="pr.validateVehicleOptions()" /></td><td class="align-cell-left">{{cr.l10nObj.prsPg4CITowing}}</td><td><select class="form-control" ng-disabled="!pr.data.towing" ng-options="towingDistance.Id_Rizik as towingDistance.Prevod[cr.lang].Naziv_Prevod for towingDistance in pr.towingDistances" ng-model="pr.data.selectedTowingDistance"></select></td></tr>
                                <tr><td><input type="checkbox" name="nameVehicleRepair" ng-model="pr.data.repair" ng-change="pr.validateVehicleOptions()" /></td><td class="align-cell-left">{{cr.l10nObj.prsPg4CIRepair}}</td><td><select class="form-control" ng-disabled="!pr.data.repair" ng-options="reperationPrice.Id_Rizik as reperationPrice.Prevod[cr.lang].Naziv_Prevod for reperationPrice in pr.reparationPrices" ng-model="pr.data.selectedReparationPrice"></select></td></tr>
                                <tr><td><input type="checkbox" name="nameVehicleHotel" ng-model="pr.data.hotel" ng-change="pr.validateVehicleOptions()" /></td><td class="align-cell-left">{{cr.l10nObj.prsPg4CIAcc}}</td><td><select class="form-control" ng-disabled="!pr.data.hotel" ng-options="hotelDay.Id_Rizik as hotelDay.Prevod[cr.lang].Naziv_Prevod for hotelDay in pr.hotelDays" ng-model="pr.data.selectedHotelDays"></select></td></tr>
                                <tr><td><input type="checkbox" name="nameVehicleTransport" ng-model="pr.data.alternateTransport" ng-change="pr.validateVehicleOptions()" /></td><td class="align-cell-left">{{cr.l10nObj.prsPg4CIAltTrans}}</td><td><select class="form-control" ng-disabled="!pr.data.alternateTransport" ng-options="alternateTransportationDistance.Id_Rizik as alternateTransportationDistance.Prevod[cr.lang].Naziv_Prevod for alternateTransportationDistance in pr.alternateTransportationDistances" ng-model="pr.data.selectedAlternateTransportationDistance"></select></tr>
                                <tr>
                                    <td class="align-cell-right" ng-class="{'red-bold': !fourthPageForm.nameVehicleHotel.$valid}" colspan="3">{{cr.l10nObj.prsPgPickOne}}</td>
                                </tr>
                            </table>

                            <h4>&nbsp; {{cr.l10nObj.prsPg4CIData}}</h4>
                            <table class="my-form-fields-table">
                                <tr>
                                    <th>{{cr.l10nObj.prsPg4CIChassisNum}}</th>
                                    <td>
                                        <span message="{{cr.l10nObj.vldVhcChasis}}" ng-class="{'error-info-proc': fourthPageForm.nameVehicleChasis.$invalid && (fourthPageForm.nameVehicleChasis.$touched || pr.showErrorsFourth)}">
                                            <input type="text" name="nameVehicleChasis" class="form-control" ng-class="{'show-error': pr.showErrorsFourth}" ng-model="pr.data.vehicle.chassisNumber" ng-pattern="/^[a-zA-Z0-9]{17}$/" required />
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{cr.l10nObj.prsPg4CIManDate}}</th>
                                    <td>
                                        <span message="{{cr.l10nObj.vldVhcYear}}" ng-class="{'error-info-proc': fourthPageForm.nameVehicleYear.$invalid && (fourthPageForm.nameVehicleYear.$touched || pr.showErrorsFourth)}">
                                            <input type="number" name="nameVehicleYear" class="form-control small-input" ng-class="{'show-error': pr.showErrorsFourth}" ng-model="pr.data.vehicle.productionYear" min="1950" max="{{pr.currentYear}}" required />
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{cr.l10nObj.prsPg4CIRegNum}}</th>
                                    <td>
                                        <span message="{{cr.l10nObj.vldVhcPlate}}" ng-class="{'error-info-proc': fourthPageForm.nameVehicleRegistration.$invalid && (fourthPageForm.nameVehicleRegistration.$touched || pr.showErrorsFourth)}">
                                            <input type="text" name="nameVehicleRegistration" class="form-control" ng-class="{'show-error': pr.showErrorsFourth}" ng-model="pr.data.vehicle.registrationNumber" ng-pattern="/^[a-zA-Z]{2}-[a-zA-Z0-9\u017E\u017D\u0160\u0161\u0110\u0111\u010D\u010C\u0106\u0107]{4,8}$/" required />
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{cr.l10nObj.prsPg4CIOwnerName}}</th>
                                    <td>
                                        <span message="{{cr.l10nObj.vldVhcName}}" ng-class="{'error-info-proc': fourthPageForm.nameVehicleName.$invalid && (fourthPageForm.nameVehicleName.$touched || pr.showErrorsFourth)}">
                                            <input type="text" name="nameVehicleName" class="form-control" ng-class="{'show-error': pr.showErrorsFourth}" ng-model="pr.data.vehicle.customer.name" required />
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{cr.l10nObj.prsPg4CIOwnerSurname}}</th>
                                    <td>
                                        <span message="{{cr.l10nObj.vldVhcSurname}}" ng-class="{'error-info-proc': fourthPageForm.nameVehicleSurname.$invalid && (fourthPageForm.nameVehicleSurname.$touched || pr.showErrorsFourth)}">
                                            <input type="text" name="nameVehicleSurname" class="form-control" ng-class="{'show-error': pr.showErrorsFourth}" ng-model="pr.data.vehicle.customer.surname" required />
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{cr.l10nObj.prsPg4CIOwnerJMBG}}</th>
                                    <td>
                                        <span message="{{cr.l10nObj.vldVhcJmbg}}" ng-class="{'error-info-proc': fourthPageForm.nameVehicleJmbg.$invalid && (fourthPageForm.nameVehicleJmbg.$touched || pr.showErrorsFourth)}">
                                            <input type="text" name="nameVehicleJmbg" class="form-control" ng-class="{'show-error': pr.showErrorsFourth}" ng-model="pr.data.vehicle.customer.jmbg" ng-blur="pr.validateVehicleJmbg()" ng-pattern="pr.jmbgRegex" required />
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <hr />
                        <div class="my-form-buttons">
                            <div class="my-button-navigation" ng-click="pr.selectedProcessPanel = [false, false, true, false, false]; cr.scroll()"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;&nbsp; {{cr.l10nObj.prsPgBack}}</div>
                            <div class="my-button-navigation" ng-click="pr.goFromFourthPage(); cr.scroll();">{{cr.l10nObj.prsPgNext}} &nbsp;&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span></div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- *********************************  FINAL PAGE  ************************************ -->
            <div class="main-content" ng-show="true">
                <div class="form-holder">
                    <h3 class="margin-bottom">{{cr.l10nObj.prsPg5IBHead}}</h3>
                    <form name="finalPageForm" novalidate>
                        <table class="my-form-fields-table">
                            <tr>
                                <th>{{cr.l10nObj.prsPg5Who}}</th>
                                <td class="header-left"><input type="radio" name="insCarrier" ng-model="pr.data.insuranceCarrierIsNotInsured" ng-value="false" ng-checked="true" ng-click="pr.switchCarrier()" ng-disabled="pr.chooseCarrierDisabled">&nbsp;{{cr.l10nObj.prsPg5IP}}</input></td>
                            </tr>
                            <tr>
                                <th>&nbsp;</th>
                                <td class="header-left"><input type="radio" name="insCarrier" ng-model="pr.data.insuranceCarrierIsNotInsured" ng-value="true" ng-click="pr.switchCarrier()" ng-disabled="pr.chooseCarrierDisabled">&nbsp;{{cr.l10nObj.prsPg5NIP}}</input></td>
                            </tr>
                            <tr>
                                <td colspan="2" ng-show="pr.chooseCarrierDisabled"><p><b>{{cr.l10nObj.prsPg5MustFill1}}<br />{{cr.l10nObj.prsPg5MustFill2}}</b></p></td>
                            </tr>
                        </table>

                        <div ng-hide="pr.data.insuranceCarrierIsNotInsured">
                            <h4>{{cr.l10nObj.prsPg5ChooseIP}}</h4>
                            <table class="my-form-fields-table">
                                <tr>
                                    <td colspan="2"><select class="form-control realy-big-input" ng-options="idx as customer.name + ' ' + customer.surname + ' ' + customer.jmbg for (idx, customer) in pr.data.customersFilter" ng-model="pr.data.insCarrierI" /></td>
                                </tr>
                                <tr>
                                    <th>{{cr.l10nObj.prsPg5Email}}</th>
                                    <td>
                                        <span message="{{cr.l10nObj.vldCarrEmail}}" ng-class="{'error-info-proc': finalPageForm.nameEmailIncluded.$invalid && (finalPageForm.nameEmailIncluded.$touched || pr.showErrorsFinal)}">
                                            <input type="text" name="nameEmailIncluded" class="form-control" ng-class="{'show-error': pr.showErrorsFinal}" ng-model="pr.data.tempEmail" ng-pattern="/^[a-zA-Z0-9_.]+@[a-zA-Z0-9_]+.[a-zA-Z0-9_]+$/" ng-required="!pr.data.insuranceCarrierIsNotInsured" />
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div ng-show="pr.data.insuranceCarrierIsNotInsured">
                            <h4>{{cr.l10nObj.prsPg5FormHead}}</h4>
                            <table class="my-form-fields-table">
                                <tr>
                                    <th>{{cr.l10nObj.prsPg5Name}}</th>
                                    <td>
                                        <span message="{{cr.l10nObj.vldCarrName}}" ng-class="{'error-info-proc': finalPageForm.nameNameNew.$invalid && (finalPageForm.nameNameNew.$touched || pr.showErrorsFinal)}">
                                            <input type="text" name="nameNameNew" class="form-control big-input" ng-class="{'show-error': pr.showErrorsFinal}" ng-model="pr.data.insCarrierNI.name" ng-required="pr.data.insuranceCarrierIsNotInsured" />
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{cr.l10nObj.prsPg5Surname}}</th>
                                    <td>
                                        <span message="{{cr.l10nObj.vldCarrSurname}}" ng-class="{'error-info-proc': finalPageForm.nameSurnameNew.$invalid && (finalPageForm.nameSurnameNew.$touched || pr.showErrorsFinal)}">
                                            <input type="text" name="nameSurnameNew" class="form-control" ng-class="{'show-error': pr.showErrorsFinal}" ng-model="pr.data.insCarrierNI.surname" ng-required="pr.data.insuranceCarrierIsNotInsured" />
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{cr.l10nObj.prsPg5JMBG}}</th>
                                    <td>
                                        <span message="{{cr.l10nObj.vldCarrJmbg}}" ng-class="{'error-info-proc': finalPageForm.nameJmbgNew.$invalid && (finalPageForm.nameJmbgNew.$touched || pr.showErrorsFinal)}">
                                            <input type="text" name="nameJmbgNew" class="form-control" ng-class="{'show-error': pr.showErrorsFinal}" ng-model="pr.data.insCarrierNI.jmbg" ng-blur="pr.validateCarrierJmbg()" ng-pattern="pr.jmbgRegex" ng-required="pr.data.insuranceCarrierIsNotInsured" />
                                        </span>
                                    </td>
                                </tr>
                                <tr class="align-row-top"><th colspan="2">{{cr.l10nObj.prsPg5Address}}</th></tr>
                                <tr>
                                    <td class="align-cell-right">{{cr.l10nObj.prsPg5Street}}</td>
                                    <td>
                                        <span message="{{cr.l10nObj.vldCarrStreet}}" ng-class="{'error-info-proc': finalPageForm.nameStreetNew.$invalid && (finalPageForm.nameStreetNew.$touched || pr.showErrorsFinal)}">
                                            <input type="text" name="nameStreetNew" class="form-control" ng-class="{'show-error': pr.showErrorsFinal}" ng-model="pr.data.insCarrierNI.address.street" ng-required="pr.data.insuranceCarrierIsNotInsured" />
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="align-cell-right">{{cr.l10nObj.prsPg5Number}}</td>
                                    <td>
                                        <span message="{{cr.l10nObj.vldCarrNumber}}" ng-class="{'error-info-proc': finalPageForm.nameNumberNew.$invalid && (finalPageForm.nameNumberNew.$touched || pr.showErrorsFinal)}">
                                            <input type="number" name="nameNumberNew" min="1" class="form-control small-input" ng-class="{'show-error': pr.showErrorsFinal}" ng-model="pr.data.insCarrierNI.address.number" ng-required="pr.data.insuranceCarrierIsNotInsured" />
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="align-cell-right">{{cr.l10nObj.prsPg5Place}}</td>
                                    <td>
                                        <span message="{{cr.l10nObj.vldCarrCity}}" ng-class="{'error-info-proc': finalPageForm.nameCityNew.$invalid && (finalPageForm.nameCityNew.$touched || pr.showErrorsFinal)}">
                                            <input type="text" name="nameCityNew" class="form-control" ng-class="{'show-error': pr.showErrorsFinal}" ng-model="pr.data.insCarrierNI.address.city" ng-required="pr.data.insuranceCarrierIsNotInsured" />
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{cr.l10nObj.prsPg5PhoneNum}}</th>
                                    <td>
                                        <span message="{{cr.l10nObj.vldCarrPhone}}" ng-class="{'error-info-proc': finalPageForm.namePhoneNew.$invalid && (finalPageForm.namePhoneNew.$touched || pr.showErrorsFinal)}">
                                            <input type="text" name="namePhoneNew" class="form-control" ng-class="{'show-error': pr.showErrorsFinal}" ng-model="pr.data.insCarrierNI.phoneNum" ng-pattern="/^\+?\d{6,14}$/" ng-required="pr.data.insuranceCarrierIsNotInsured" />
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{cr.l10nObj.prsPg5Email}}</th>
                                    <td>
                                        <span message="{{cr.l10nObj.vldCarrEmail}}" ng-class="{'error-info-proc': finalPageForm.nameEmailNew.$invalid && (finalPageForm.nameEmailNew.$touched || pr.showErrorsFinal)}">
                                            <input type="text" name="nameEmailNew" class="form-control" ng-class="{'show-error': pr.showErrorsFinal}" ng-model="pr.data.insCarrierNI.email" ng-pattern="/^[a-zA-Z0-9_.]+@[a-zA-Z0-9_]+.[a-zA-Z0-9_]+$/" ng-required="pr.data.insuranceCarrierIsNotInsured" />
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <hr />
                        <div class="my-form-buttons">
                            <div class="my-button-navigation" ng-click="pr.selectedProcessPanel = [false, false, false, true, false]; cr.scroll()"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;&nbsp; {{cr.l10nObj.prsPgBack}}</div>
                            <div class="my-button-navigation" ng-click="pr.finishProcess(); cr.scroll()">{{cr.l10nObj.prsPg5Finish}}</div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>