<div class="page-holder">
    <div class="overview-content-holder">

        <div class="overview-panel">
            <h2 class="header-center">{{cr.l10nObj.prwHeaderMain}} {{pc.data.ro.Id_Realizacija_osiguranja}}</h2>
            <hr />
            <h3>{{cr.l10nObj.prwHeaderCutomers}}</h3>
            <div class="overview-segment">

                <div ng-repeat="(idx, customer) in pc.customers">
                    <table class="overview-table">
                        <tr>
                            <th class="col0">{{idx+1}} </th>
                            <td class="col1"><span class="insured-name">{{customer.surname}} {{customer.name}}</span></td>
                            <th class="col2h">{{cr.l10nObj.prwCustomerJmbg}}</th>
                            <td class="col3">{{customer.jmbg}}</td>
                            <th class="col4h">{{cr.l10nObj.prwCustomerAddress}}</th>
                            <td class="col5">{{customer.street}} {{customer.addresNum}}, {{customer.city}}</td>
                        </tr>
                        <tr>
                            <td>&nbsp; </td>
                            <th>&nbsp; </th>
                            <th>{{cr.l10nObj.prwCustomerPhone}} </th>
                            <td ng-show="customer.phoneNum">{{customer.phoneNum}}</td>
                            <td ng-hide="customer.phoneNum">{{cr.l10nObj.prwCustomerNoPhone}}</td>
                            <th>{{cr.l10nObj.prwCustomerPassport}}</th>
                            <td>{{customer.passport}}</td>
                        </tr>
                        <tr>
                            <td>&nbsp; </td>
                            <td>&nbsp; </td>
                            <th>&nbsp; </th>
                            <td>&nbsp; </td>
                            <th>{{cr.l10nObj.prwCustomerCategory}}</th>
                            <td ng-show="customer.ageGroup == pc.ageGroup0">{{pc.ageGroups[0].Prevod[cr.lang].Naziv_Prevod}}</td>
                            <td ng-show="customer.ageGroup == pc.ageGroup1">{{pc.ageGroups[1].Prevod[cr.lang].Naziv_Prevod}}</td>
                            <td ng-show="customer.ageGroup == pc.ageGroup2">{{pc.ageGroups[2].Prevod[cr.lang].Naziv_Prevod}}</td>
                        </tr>

                        <tr class="overview-table-first"><td>&nbsp; </td></tr>

                    </table>
                </div>
            </div>

            <h3>{{cr.l10nObj.prwHeaderCarrier}}</h3>
            <div class="overview-segment">
                <table class="overview-table">
                    <tr>
                        <td class="col1"><span class="insured-name">{{pc.carrier.Prezime_Osoba}} {{pc.carrier.Ime_Osoba}}</span></td>
                        <th class="col2h">{{cr.l10nObj.prwCustomerJmbg}}</th>
                        <td class="col3">{{pc.carrier.JMBG_Osoba}}</td>
                        <th class="col4h">{{cr.l10nObj.prwCustomerAddress}}</th>
                        <td class="col5">{{pc.carrier.Adresa_Osoba}}</td>
                    </tr>
                    <tr>
                        <th>&nbsp; </th>
                        <th>{{cr.l10nObj.prwCustomerPhone}} </th>
                        <td ng-show="pc.carrier.Broj_telefona_Osoba != null">{{pc.carrier.Broj_telefona_Osoba}}</td>
                        <td ng-hide="pc.carrier.Broj_telefona_Osoba != null">{{cr.l10nObj.prwCustomerNoPhone}}</td>
                        <th>{{cr.l10nObj.prwCustomerEmail}}</th>
                        <td>{{pc.carrier.E_mail_Osoba}}</td>
                    </tr>
                </table>
            </div>

            <h3>{{cr.l10nObj.prwHeaderTravel}}</h3>
            <div class="overview-segment">
                <p>
                    {{cr.l10nObj.prwInsuranceLocation}} <span class="highlight-text">{{pc.location.Prevod[cr.lang].Naziv_Prevod}}</span>
                    {{cr.l10nObj.prwInsuranceDateFrom}} <span class="highlight-text">{{pc.dateFrom}}</span>
                    {{cr.l10nObj.prwInsuranceDateTo}} <span class="highlight-text">{{pc.dateTo}}</span>
                    {{cr.l10nObj.prwInsuranceValue}} <span class="highlight-text">{{pc.ammount.Prevod[cr.lang].Naziv_Prevod}}</span>.
                </p>
                <p ng-show="pc.info.sport">
                    {{cr.l10nObj.prwInsuranceSport}} <span class="highlight-text">{{pc.sport.Prevod[cr.lang].Naziv_Prevod}}</span>.
                </p>
            </div>

            <div ng-show="pc.showObject">
                <h3>{{cr.l10nObj.prwHeaderTravel}}</h3>
                <div class="overview-segment">
                    <p>
                        {{cr.l10nObj.prwObjectArea}} <span class="highlight-text">{{pc.object.Povrsina_Nekretnina}}</span>
                        {{cr.l10nObj.prwObjectOld}} <span class="highlight-text">{{pc.objectAge.Prevod[cr.lang].Naziv_Prevod}}</span>
                        {{cr.l10nObj.prwObjectValue}} <span class="highlight-text">{{pc.objectValue.Prevod[cr.lang].Naziv_Prevod}}</span>.<br />
                        {{cr.l10nObj.prwObjectCase}}
                        <span class="highlight-text" ng-show="pc.info.residenceFromFlood"><br/>- {{cr.l10nObj.prwObjectFlood}}</span>
                        <span class="highlight-text" ng-show="pc.info.residenceFromFire"><br />- {{cr.l10nObj.prwObjectFire}}</span>
                        <span class="highlight-text" ng-show="pc.info.residenceFromTheft"><br />- {{cr.l10nObj.prwObjectTheft}}</span>.
                    </p>
                    <p>
                        {{cr.l10nObj.prwObjectAddress}} <span class="highlight-text">{{pc.object.Adresa_Nekretnina}}</span>.
                        {{cr.l10nObj.prwObjectOwnder}} <span class="highlight-text">{{pc.object.Prezime_vlasnik_Nekretnina}} {{pc.object.Ime_vlasnik_Nekretnina}}</span>
                        {{cr.l10nObj.prwObjectJmbg}} <span class="highlight-text">{{pc.object.JMBG_vlasnik_Nekretnina}}</span>.
                    </p>
                </div>
            </div>

            <div ng-show="pc.showVehicle">
                <h3>{{cr.l10nObj.prwHeaderVehicle}}</h3>
                <div class="overview-segment">
                    <p>
                        {{cr.l10nObj.prwVehicleIntro}}
                        <span class="highlight-text" ng-show="pc.info.towing"><br />- {{cr.l10nObj.prwVehicleTowing}} {{pc.vehicleTowing.Prevod[cr.lang].Naziv_Prevod}}</span>
                        <span class="highlight-text" ng-show="pc.info.repair"><br />- {{cr.l10nObj.prwVehicleRepair}} {{pc.vehicleRepair.Prevod[cr.lang].Naziv_Prevod}}</span>
                        <span class="highlight-text" ng-show="pc.info.hotel"><br />- {{cr.l10nObj.prwVehicleHotel}} {{pc.veicleHotel.Prevod[cr.lang].Naziv_Prevod}}</span>
                        <span class="highlight-text" ng-show="pc.info.alternateTransport"><br />- {{cr.l10nObj.prwVehicleAlternative}} {{pc.vehicleAlternative.Prevod[cr.lang].Naziv_Prevod}}</span>.
                    </p>
                    <p>
                        {{cr.l10nObj.prwVehiclePlate}} <span class="highlight-text">{{pc.vehicle.Broj_registarske_tablice_Vozilo}}</span>,
                        {{cr.l10nObj.prwVehicleYear}} <span class="highlight-text">{{pc.vehicle.Godina_proizvodnje_Vozilo}}</span>.
                        {{cr.l10nObj.prwVehicleChasis}} <span class="highlight-text">{{pc.vehicle.Broj_sasije_Vozilo}}</span>.<br />
                        {{cr.l10nObj.prwVehicleOwner}} <span class="highlight-text">{{pc.vehicle.Prezime_Vlasnik_Vozilo}} {{pc.vehicle.Ime_Vlasnik_Vozilo}}</span>
                        {{cr.l10nObj.prwVehicleJmbg}} <span class="highlight-text">{{pc.vehicle.JMBG_Vlasnik_Vozilo}}</span>.
                    </p>
                </div>
            </div>

            <h3 class="header-right header-red">{{cr.l10nObj.prwResolutionPrice}} {{pc.data.ro.Ukupna_vrednost_Realizacija_osiguranja}} {{cr.l10nObj.prwResolutionCurrency}}</h3>

            <hr />

            <div class="my-overview-buttons">
                <div class="my-button-overview my-button-overview-center" ng-click="pc.change()"><a ui-sref="core.process"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;&nbsp; {{cr.l10nObj.prwResolutionChange}}</a></div>
                <div class="my-button-overview">
                    {{cr.l10nObj.prwResolutionBuy}}
                    <span ng-bind-html="pc.trustDangerousSnippet()"></span>
                </div>
                <div class="my-button-overview my-button-overview-center" ng-click="pc.cancel()">{{cr.l10nObj.prwResolutionCancel}}</div>
            </div>
        </div>

    </div>
</div>