/*##########    PROCCES PAGE ANIMATIONS     ##########*/
.class1{
  left: 0em;
}
.class2{
  left: -52em;
}
.class3{
  left: -104em;
}
.class4{
  left: -156em;
}
.class5{
  left: -208em;
}

.class1-ng-hide-add, .class1-ng-hide-remove {
    transition: all ease-in-out 1s;
}
.class2-add, .class2-remove  {
    transition: all ease-in-out 1s;
}
.class3-add, .class3-remove  {
    transition: all ease-in-out 1s;
}
.class4-add, .class4-remove  {
    transition: all ease-in-out 1s;
}
.class5-add, .class5-remove  {
    transition: all ease-in-out 1s;
}