/*##########    OVERVIEW PAGE ANIMATIONS     ##########*/
.slide-up-animation-insurance {
    transition: .5s linear all;
    height: 280px;
    overflow: hidden;
    display: block !important;
}

.slide-up-animation-insurance.ng-hide {
    height:0;
}

.slide-up-animation-object {
    transition: .5s linear all;
    height: 200px;
    overflow: hidden;
    display: block !important;
}

.slide-up-animation-object.ng-hide {
    height:0;
}

.slide-up-animation-vehicle {
    transition: .5s linear all;
    height: 200px;
    overflow: hidden;
    display: block !important;
}

.slide-up-animation-vehicle.ng-hide {
    height:0;
}

/*##########    PROCCES PAGE ANIMATIONS     ##########*/
.slide-up-animation-user {
    transition: .5s linear all;
    height: 550px;
    overflow: hidden;
    display: block !important;
}

.slide-up-animation-user.ng-hide {
    height:0;
}

.slide-up-animation-object-proccess {
    transition: .5s linear all;
    height: 670px;
    overflow: hidden;
    display: block !important;
}

.slide-up-animation-object-proccess.ng-hide {
    height:0;
}

.slide-up-animation-vehicle-proccess {
    transition: .5s linear all;
    height: 700px;
    overflow: hidden;
    display: block !important;
}

.slide-up-animation-vehicle-proccess.ng-hide {
    height:0;
}


.class1{
  left: 0px;
}
.class2{
  left: -720px;
}
.class3{
  left: -1440px;
}
.class4{
  left: -2160px;
}
.class5{
  left: -2880px;
}

.class1-ng-hide-add, .class1-ng-hide-remove {
    transition: all ease-in-out 1s;
}
.class2-add, .class2-remove  {
    transition: all ease-in-out 1s;
}
.class3-add, .class3-remove  {
    transition: all ease-in-out 1s;
}
.class4-add, .class4-remove  {
    transition: all ease-in-out 1s;
}
.class5-add, .class5-remove  {
    transition: all ease-in-out 1s;
}