/*#######	GENERAL		 	########################*/
body {
    font-family: 'Tahoma' !important;
}

h2,h3,h4,h5 {
	color: #666;
}

h4 {
	margin-top: 2em;
}

p {
	font-size: 1em;
}

a:hover {
    text-decoration: none !important;
}

hr {
    border-color: #39C;
    border-width: 1px;
	margin-top: 2em;
	margin-bottom: 2em;
}

.flat {
	margin-top: 0em !important;
	margin-bottom: 0em !important;
}

.element-hidden {
    visibility: hidden;
}

.hr-grey {
    border-color: #DDD !important;
}

.highlight-text {
	font-size: 1.3em;
	font-weight: bold;
}

.page-holder {
	width:100%;
	padding-top: 1em;
	padding-bottom: 1em;
    padding-left: 0em !important;
    padding-right: 0em !important;
	background-image: url("../images/pattern.png");
}

.header-center{
	text-align: center !important;
}

.header-right{
	text-align: right !important;
}

.force-header-right{
    float: right;
}

.margin-bottom {
    margin-bottom: 1em;   
}

.margin-top {
    margin-top: 1em;   
}   

.header-left{
	text-align: left !important;
}

.header-red{
	color: red !important;
}

.force-inline {
    display: inline-block !important;
}

/*#######	UPPER PANEL  	########################*/
.navbar-custom {
	background-size:cover;
	background-image: url("../images/image2.jpg");
	height: 14em;
	margin-bottom: 0em !important;
	border-bottom: #39C solid 4px !important;
}

.navbar-custom .logo-image {
	padding-left: 0.5em;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
	height: 9em;
}

.navbar-custom .container-fluid {
	padding-left: 13em;
	padding-top: 10.9em;
}

.navbar-languages {
    margin-top: 0.5em;
    margin-right: 0.5em;
    padding: 0.5em;
    float: right;
    width: 12em;
    height: 2.5em;
	background-color: rgba(255, 255, 255, 0.5) !important;
}

.navbar-languages a {
    width: 3em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.navbar-languages:hover {
    cursor: pointer;
    text-decoration: none;
}

.navbar-nav li {
    background-color: rgba(255, 255, 255, 0.8);
    width: 9em;
    height: 3em;
    color: red !important;
    text-align: center;
}

.navbar-nav li a {
    font-size: 1.3em !important;
}

.navbar-custom .navbar-nav li:hover{
	background-color: #39C;
    color: #EEE;
}

.navbar-custom .navbar-nav a:hover{
    color: #EEE !important;
}

/*#######	BOTTOM PANEL  	########################*/
.footer {
	color: #39C;
	width: 100%;
	border-top: #39C solid 4px !important;
}

.footer-columns {
    margin: 0 auto; 
	width: 74em;
}

.footer-column {
	margin-left: 0.7em;
	margin-right: 0.7em;
	width: 17em;
	float: left;
}

.footer .signature {
    margin-top: 17.3em;
    text-align: center;
}

/*#######	INPUT DATA FORM PANEL  	########################*/
.main-content-holder {
	text-align: center;
	margin: 0em auto;
	width: 50.1em;
	overflow: hidden;
}

.float-control {
	position: relative;
	width: 260em;
}

.main-content {
	float: left;
	text-align: center;
	margin-left:2em;
	width: 50em;
}

.form-holder {
	border: #BBB solid 1px;
	background-color: #FFF;
	border-radius: 0.3em;
	padding: 4em;
	padding-top: 1em;
	padding-bottom: 1em;
}

.form-holder form {
	margin: 0em;
}

.my-form-fields-table {
	margin: auto;
}

.page-marker {
	margin: auto;
    margin: 2em;
    margin-bottom: 0em;
}

.marker-rect {
    border: 1px solid #DDD;
	border-radius: 0.2em;
	width: 6em;
	height: 1em;
    margin-left: 0.25em;
    margin-right: 0.25em;
	background: #FFF;
}

.marker-select {
	background: #39C !important;
}

/*#######	INPUT DATA FORM INPUTS	########################*/
.my-form-fields-table th {
	padding-top: 0.6em;
	vertical-align: middle;
}

.my-form-fields-table td {
	padding-left: 0.6em;
	padding-top: 0.6em;
}

.small-input {
	width: 6em;
}

.medium-input {
	width: 10em;
}

.standard-input {
	width: 12em;
}

.big-input {
	width: 14em;
}

.realy-big-input {
	width: 23em;
}

.input-group-addon {
	width: 3.7em;
}

.align-row-top {
	vertical-align: top;
}

.align-row-top th{
	padding-top: 1.3em !important;
}

.align-cell-right {
	text-align: right !important;
}

.align-cell-left {
	text-align: left !important;
}

/*#######	INPUT DATA FORM BUTTONS	########################*/
.my-form-buttons {
	font-size: 2em;
	color: #39C;
	margin: 0 auto;
	width: 100%;
	height: 2em;
}

.my-button-navigation:hover {
	cursor: pointer;
	color: #048;
}

.my-button-navigation {
	margin-left:5%;
	margin-right:5%;
	float: left;
	width: 40%;
	height: 100%;	
}

.my-button-action {
	text-align: center;
	font-size: 1.5em;
	color: #39C;
	margin: auto;
	float: left;
    margin-left: 4%;
    margin-right: 4%;
	width: 42%;
	height: 100%;
    padding-top: 0.3em;
	background: #EEE;
}

.my-buttons-action {
	margin: 0em auto;
    margin-top: 1.5em;
	width: 25em;
	height: 3em;
}

.my-button-action:hover {
	cursor: pointer;
	background: #DDD;
}

/*#######	INPUT DATA OSIGURANICI TABELA	########################*/
.insured-table {
	width: 98%;
	margin: auto;
	border-top:  #999 solid 1px;
	text-align: center;
	vertical-align: middle;
}

.insured-table th {
	height: 3em;
	text-align: center;
	font-size: 1.3em;
}

.insured-table tr {
	height: 2.7em;
	border-bottom: #999 solid 1px;
}

.insured-table .insured-table-header {
	background: #5AE;
	color: #FFF;
}

.insured-table .insured-table-data-not_selected:hover {
	background: #F0F0F0;
	cursor: pointer;
}

.insured-table .insured-table-data-selected {
    background: #25c2ef;
}

.insured-table .colname {
	width: 21%;
}

.insured-table .colsurname {
	width: 32%;
}

.insured-table .coljmbg {
	width: 24%;
}

.insured-table .colcat {
	width: 23%;
}

.colpicksport {
	width: 13em;
}

.insured-manage {
	font-size: 1.2em;
	margin-top: 0.5em;
	margin-bottom: 0.8em;
	margin-right: 0.5em;
	text-align: right;
}

.insured-manage a:hover {
	cursor: pointer;
	color: #048;
	text-decoration: none;
	font-weight: bold;
}

.user-toggle {
	font-size: 0.8em;
	text-align: left;
	padding-left: 0.5em;
}

.user-toggle-disabled {
	font-size: 0.8em;
    color: #AAA;
	text-align: left;
	padding-left: 0.5em;
}

.user-toggle-size {
	font-size: 0.8em;
}

.user-toggle:hover {
	color: #AAA !important;
	cursor: pointer;
	font-weight: bold;
}

.user-toggle-disabled:hover {
	cursor: no-drop;
}

/*#######	POLISA		########################*/
.overview-content-holder {
	margin: 0em auto;
	width: 70em;
	overflow: hidden;
}

.overview-panel {
	border: #BBB solid 1px;
	background-color: #FFF;
	border-radius: 0.3em;
	width: 70em;
	padding: 4em;
	padding-bottom: 1em;
}

.overview-segment {
	margin-top: 2em;
	margin-bottom: 4em;
	margin-left: 3%;
    margin-right: 2%;
	width: 95%;
}

/*#######	POLISA DUGMAD NA DNU	########################*/
.my-overview-buttons {
	font-size: 2em;
	color: #39C;
	margin: 0 auto;
	width: 100%;
	height: 3em;
	padding-left: 2%;
	padding-right: 2%;
    margin-bottom: 0.4em;
}

.my-button-overview {
	margin-left: 3%;
	margin-right: 3%;
	float: left;
	width: 27%;
	height: 3em;
	text-align: center;
}

.my-overview-buttons td {
	width: 20%;
}

.my-overview-buttons td {
	width: 37%;
	margin-left: 3%;
}

.my-button-overview-center {
	line-height: 3em;
}

.my-button-overview-single {
	height: 3em;
	text-align: center;
	vertical-align: middle;
	height: 3em;
}

.my-button-overview-center:hover, .my-button-overview-single:hover {
	cursor: pointer;
	color: #048;
}

/*#######	POLISA TABELA KORISNICI		########################*/
.overview-table {
	width: 98%;
	vertical-align: middle;
	text-align: left;
}

.overview-table .insured-name {
	font-size: 1.4em;
	font-weight: bold;
}

.overview-table tr {
	height: 2em;
}

.overview-table th {
	font-size: 1em;
	font-weight: normal;
	font-style: italic;
}

.overview-table td {
	font-size: 1em;
	font-weight: bold;
}

.overview-table .overview-table-first {
	height: 1.3em;
}

.overview-table .col0{
	width: 4%;
}

.overview-table .col1{
	width: 30%;
}

.overview-table .col2h{
	width: 6%;
}

.overview-table .col3{
	width: 16%;
}

.overview-table .col4h{
	width: 9%;
}

.overview-table .col5{
	width: 35%;
}

/*#######	ABOUT PAGE		########################*/
.about-img {
    margin: 2em;
}

/*#######	HOME PAGE		########################*/
.overview-panel-home {
	border: #BBB solid 1px;
	background-color: #FFF;
	border-radius: 0.3em;
	width: 70em;
}

.home-picker:hover {
    cursor: pointer;
}

.home-picker p {
    margin: 0em !important;
}

.home-picker h4 {
    margin: 0em;
    margin-bottom: 0.5em;
    padding: 0em;
}

.home-picker a {
    color: #666;
    width: 100%;
}

.home-img {
    margin: 2em;
    margin-top: 2em;
    width: 94%;
}

.home-picker-img {
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

.home-picker {
    width: 53%;
    height: 15em;
    margin-top: 3em;
    margin-bottom: 3em;
    position: absolute;
    left: 0em;
}

.picker-border {
    background: rgba(230, 230, 230, 0.5);
    height: 100%;
    padding: 1em;
    border-top: 1px solid #39C;
    border-bottom: 1px solid #39C;
    width: 70%;
    border-right: 1px solid #39C;
    float: left;
}

.picker-image {
    height: 100%;
    width: 40%;
    margin-left: 60%;
    text-align: right;
    float: left;
}

.picker-text {
    width: 30%;
    background: rgba(230, 230, 230, 0.75);
    color: #333 !important;
    height: 100%;
    padding: 1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 70%;
    text-align: left;
}

.picker-1-position {
    top: 17em;
}

.picker-2-position {
    top: 34em;
}

.picker-3-position {
    top: 51em;
}