<h3>
    <span class="user-toggle-disabled" ng-show="!enableExpander">
        <span class="glyphicon glyphicon-menu-right"></span>
        &nbsp;<ng-transclude></ng-transclude>
    </span>
    <span class="user-toggle" ng-click="showExpander=!showExpander" ng-show="enableExpander">
        <span class="glyphicon glyphicon-menu-down" ng-show="showExpander"></span>
        <span class="glyphicon glyphicon-menu-right" ng-show="!showExpander"></span>
        &nbsp;<ng-transclude></ng-transclude>
    </span>
    <span class="force-header-right user-toggle-size">
        Zelite li <ng-transclude></ng-transclude>:
        <input type="radio" name="radioObject" ng-model="enableExpander" ng-value="true" ng-click="showExpander = true"> Da</input>&nbsp;&nbsp;
        <input type="radio" name="radioObject" ng-model="enableExpander" ng-value="false" ng-click="showExpander = false" ng-checked="true"> Ne</input>
    </span>
</h3>